.App {
  text-align: center;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section { 
  position: relative;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /* text-shadow: 0 0 5px #000; */
}

.divider {
  background-color: rgb(64, 61, 60);
  height: 35vh;
}


.caption {
  height: 10vh;
  width: 50vw;
  bottom: 29.5vh;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  z-index: -1;
}

.static {
  background: ROSYBROWN;
  border-radius: 3px;
  opacity: 0.9;
}

.bg1::after {
  background-image: url('./city.jpg');
  background-repeat: no-repeat;
  height: auto;
  transform: translateZ(-1px) scale(1.6);
  /* height: 200vw; */
}

.bg2::after {
  background-image: url('./city2.jpg');
  background-repeat: no-repeat;
  transform: translateZ(-0.8px) scale(1.5);
  /* top: 133px; */

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
