.App {
  text-align: center;
}



.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section { 
  position: relative;
  height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  background: white;
  height: 50vh;  

}

.bg1::after {
  background-image: url('./city.jpg');
  background-repeat: no-repeat;
}

.bg2::after {
  background-image: url('./city2.jpg');
  background-repeat: no-repeat;
  position: absolute;
  transform: translateZ(-0.8px) scale(1.5);
  height: 125vh

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
